.products-page .testimonial {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  .products-page .testimonial h5 {
    margin-top: 15px;
    font-weight: bold;
  }
  
  .products-page .testimonial p {
    margin-bottom: 0;
  }
  
  .products-page .shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  